.carousel-caption {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
}

body {
  // background: #e1e1e1;
  color: #1a1a1a;
  font-family: 'deckardmedium_evan';
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}

.lead, a, p, li {
  -webkit-font-smoothing: antialiased;
  // letter-spacing: 0.2px;
  color: #1a1a1a;
}

h1 {
  font-family: 'Deckard Bold';
  padding-top: 0px;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
}

.lead {
  font-size: 28px;
}

a:hover {
  color: #666;
}

header {
  position: fixed;
  padding-bottom: 26px;
  transition: all ease-in-out 0.3s;
  color: white;
  background: white;
  top: 0px;
  width: 100%;
  a {
    transition: all ease-in-out 0.1s;
    color: #1a1a1a;
    &:hover {
      color: #666;
    }
  }
  nav a {
    border-bottom: solid 1px transparent;
    padding-bottom: 1px;
    font-size: 16px;
    font-family: 'Deckard Regular';
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: white;
      padding-bottom: 3px;
      transition: all ease-in-out 0.1s;

    }
    &:hover {
      border-bottom: solid 1px #1a1a1a;
      color: #1a1a1a;
    }
  }
  .logo a {
    display: inline-block;
    font-family: 'Deckard Bold';
  
    // text-transform: uppercase;
    // font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  &.on {
    a {
      color: white;
      &:hover, &:active, &:focus {
        color: white;
      }
      &:hover {
       color: white;
      }
    }
    .social a {
      border: solid 2px white;
    }
    .logo a {
      // border-bottom: solid 1px #1a1a1a;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  header {
    .logo {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .menu-btn {
      margin-bottom: 5px;
    }
    br {
      display: none;
    }
  }
}

.intro {
  margin-top: 190px;
}

.social {
  // margin-top: -18px;
  li a {
    display: inline-block;
    border: solid 2px #1a1a1a;
    margin-left: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    padding: 3px 2px 0px 0px;
    text-align: center;
    margin-top: -12px;
  }
  .twitter a {
    padding-left: 2px;
  }
}

.jumbotron {
  background: transparent;
}

section {
  margin: 120px 0 0 0;
}

footer {
  margin: 120px 0 0 0;
  background: #1a1a1a;
  padding-top: 90px;
  padding-bottom: 30px;
  .social {
    text-align: center;
    padding: 0px;
    margin: 0px 0 90px 0;

  li a {
        border: solid white 2px;
  }

    li.first-child {
      margin-left: 0px;
      padding-left: 0px;
    }
    .twitter a {
      padding-left: 2px;
    }
  }
  .credits a {
    padding: 10px;
        font-family: 'Deckard Regular';
  }
}

.students {
  ul {
    margin-bottom: 30px;
  }
  ul li:first-child {
    padding-top: 10px;
    border-top: solid 1px #1a1a1a;

  }
  li {
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: 'Deckard Regular';
    font-size: 16px;
    a:hover {
      border-bottom: solid 1px white;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .social.pull-right {
    float: left !important;
    .pull-right {
      padding: 0px;
      float: left !important;
      li {
        float: left;
        clear: left;
      }
      a {
        margin: 0px;
        margin-bottom: 10px;
      }
    }
  }
}

.strong {
  font-weight: 700;
}

/* Set a size for our map container, the Google Map will take up 100% of this container */

#map {
  width: 100%;
  height: 500px;
}

header.on {
  background: #1a1a1a;
  color: white;
  transition: all ease-in-out 0.3s;
  z-index: 999999;
  a {
    color: white;
  }
}

.delayedx1 {
  animation-delay: 0.2s !important;
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.delayedx2 {
  animation-delay: 0.4s !important;
  -webkit-animation-delay: 0.4s !important;
  -moz-animation-delay: 0.4s !important;
  -o-animation-delay: 0.4s !important;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.delayedx3 {
  animation-delay: 0.5s !important;
  -webkit-animation-delay: 0.5s !important;
  -moz-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

footer a {
  color: white;
}

.panel, .panel-body, .panel-heading {
  background: none;
  border-bottom: none;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  box-shadow: none !important;
  padding: 0px;
  margin: 0px;
  padding: 0px 0px 20px 0px;
}

#accordion {
  padding-top: 0px;
  border-top: solid 1px #1a1a1a;
  p.lead, h4, .lead {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0px;
  }
  p.lead {
      font-family: 'Deckard Regular';
  }
}

.panel {
  border-bottom: dotted 1px #1a1a1a;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.panel-heading {
  font-weight: normal;
  border-radius: 0px;
  padding-top: 14px;
  a {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}

h2.lead {
  font-size: 21px;
  font-family: 'Deckard Bold';
    line-height: 26px;
    letter-spacing: 0px;
    margin-top: 0px;
}

.tooltip-inner {
  background: white;
  padding: 10px 20px;
  color: #1a1a1a;
}

.panel-heading .accordion-toggle {
  &:after {
    content: url(/assets/images/close.svg);
    float: right;
    height: 30px;
    width: 30px;
    position: relative;
    top: -0px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    transform: rotate(45deg);
  }
  &.collapsed:after {
    content: url(/assets/images/close.svg);
    transform: rotate(0deg);
  }
}

.carousel-control {
  &.left, &.right {
    background: none;
  }
}

.arrow {
  &:after {
    content: url(/assets/images/arrow.svg);
    width: 40px;
    height: 40px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  &.left:after {
    left: 50%;
    margin-left: -20px;
  }
  &.right:after {
    left: 50%;
    margin-left: -20px;
    transform: rotate(180deg);
  }
}

.carousel-control {
  opacity: 1;
}

.carousel-caption {
  top: 43%;
  letter-spacing: 0px;
  color: white;
  .lead {
    margin-bottom: 5px;
    color: white;
  }

  p {
    color: white;
  }

}

nav > ul {
  display: inline-block; 
}

.group {
  width: auto;
}

span.hr {
  border-top: solid 1px #1a1a1a;
    height: 1px;
    width: 100%;
    display: block;
    padding-top: 16px;
}

  header ul.pull-right {
    margin-left: 0px;
    padding-left: 0px;
  }

@media (max-width: 1280px) {
  header ul.pull-right {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 1200px) {
  .menu-btn {
    width: auto;
    max-width: 190px;
  }
}


@media (max-width: 992px) {
  .main-nav {
    width: auto;
    max-width: auto;
    float: right;
    display: inline-block;
  }
}

@media (max-width: 768px) {
header {
  padding-bottom: 0px;
}
.lead {
  font-size: 21px;
}
section {
  margin: 60px 0 0 0;
}

.intro {
    margin-top: 230px;
}

#accordion p.lead {
  font-size: 16px;
  line-height: 21px;
}

.main-nav {
  display: block;
  margin: 0px;
  padding: 0px;
  li {
     width: 100%;
    display: block;
    max-width: 100%;
    a { 
      border-bottom: dotted 1px #1a1a1a;
      display: inline-block;
      padding-bottom: 3px;
    }
  }
}

header.on {
  .main-nav {
    display: none;
  }
}

}
